

<div class="container">
    <table class="table table-hover table-condensed">
        <thead>
            <tr>
                <th class="vcenter"><input type="checkbox" class="check" /></th>
                <th>ID</th>
                <th>Name</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="x in items">
                <td class="vcenter"><input type="checkbox" class="check" value="{{ x.id }}" ng-model="x.selected" /></td>
                <td>{{ x.id }}</td>
                <td>
                    <div ng-hide="editingData[x.id]">{{ x.name }}</div>
                    <div ng-show="editingData[x.id]"><input type="text" ng-model="x.name"></div>
                </td>
                <td>
                    <div ng-hide="editingData[x.id]">{{ x.description }}</div>
                    <div ng-show="editingData[x.id]"><input type="text" ng-model="x.description"></div>
                </td>
                <td>
                    <a href="#" ng-hide="editingData[x.id]" ng-click="modify(x)"><span class="glyphicon glyphicon-pencil"></span></a>
                    <button ng-show="editingData[x.id]" ng-click="update(x)" class="btn btn-info">
                        <span class="glyphicon glyphicon-ok"></span>
                    </button>
                    <button ng-show="editingData[x.id]" ng-click="modify(x)" class="btn btn-danger">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>

    <center><button type="button" class="btn btn-danger" ng-click="deleteJobs()">Delete</button></center>

    <form class="form-submit" name="job_form">
        <label for="inputName" class="sr-only">Name</label>
        <input type="text" id="inputName" class="form-control" placeholder="name" ng-model="name" required autofocus>
        <label for="inputDesc" class="sr-only">Description</label>
        <input type="text" id="inputDesc" class="form-control" placeholder="description" ng-model="description" required>
        <br>
        <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="submit($event)">Submit</button>
    </form>
</div>